<div class="navbar-container">
    <div class="logo-wrapper">
        <img src="../navbar/../../../assets/icons/logo.png" alt="logo">
    </div>
    <ul class="navbar-items">
        <li routerLinkActive="active">
            <a routerLink="agents">Agents</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="maps">Maps</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="weapons">Weapons</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="bundles">Bundles</a>
        </li>
    </ul>
</div>