.container {
  height: 100vh;
  overflow: auto;
  display: flex;

  .navbar-wrapper {
    width: 180px;
  }

  .main-content-wrapper {
    flex-grow: 1;
    background: #32333d;
    overflow-y: auto;
    position: relative;
  }
}
